<a href="https://colab.research.google.com/github/Levicute69/slicing/blob/main/slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_bike = pd.read_csv('https://raw.githubusercontent.com/Levicute69/slicing/main/bostonHousing1978.csv')

In [3]:
df_bike[['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [4]:
df_bike[['RM', 'target']].head()

      RM  target
0  6.575    24.0
1  6.421    21.6
2  7.185    34.7
3  6.998    33.4
4  7.147    36.2

In [6]:
df_bike[['RM', 'LSTAT', 'PTRATIO', 'target']].tail()

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [7]:
df_bike['RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [8]:
type(df_bike['RM'].head())

pandas.core.series.Series

In [9]:
df_bike['RM']

0      6.575
1      6.421
2      7.185
3      6.998
4      7.147
       ...
501    6.593
502    6.120
503    6.976
504    6.794
505    6.030
Name: RM, Length: 506, dtype: float64

In [10]:
df_bike['RM'][0:10]

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
5    6.430
6    6.012
7    6.172
8    5.631
9    6.004
Name: RM, dtype: float64

In [11]:
df_bike.RM.head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [12]:
df_bike.loc[:, ['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [13]:
df_bike.loc[:, 'RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64